---
import DynamicPicture from "./common/DynamicPicture.astro";
import s from "../styles/components/NameCard.module.css";
---

<div class:list={[s.intro, s.cvIntro]}>
  <div class={s.introMainImg}>
    <DynamicPicture src="/src/assets/images/yutohosaka.jpg" alt="Yuto Hosaka" />
  </div>
  <div class={s.introContent}>
    <div class={s.introNameWrap}>
      <h1 class={s.introName}>
        <span>保阪 悠人</span><span>(Yuto HOSAKA)</span>
      </h1>
      <p class={s.introText}>
        My interests are soft active matter and low Reynolds number
        hydrodynamics, especially chiral active fluids.
      </p>
    </div>
  </div>
</div>
