---
import HeaderLink from "./MenuLink.astro";
import { SITE_TITLE } from "../consts";
import s from "../styles/components/MenuBar.module.css";
---

<nav id="menu" class:list={[s.sidebar]}>
  <h2><a class={s.title} href="/">{SITE_TITLE}</a></h2>
  <div class={s.links}>
    <HeaderLink href="/research">Research</HeaderLink>
    <HeaderLink href="/cv">CV</HeaderLink>
    <HeaderLink href="/publication">Publication</HeaderLink>
    <HeaderLink href="/links">Links</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
  </div>
</nav>

<div id="menu-bg" class={s.sidebarBg}></div>

<button id="menu-toggle" class={s.sidebarToggleButton}>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</button>

<script>
  import s from "../styles/components/MenuBar.module.css";

  const menuEl = document.getElementById("menu");
  const menuBgEl = document.getElementById("menu-bg");
  const menuToggleEl = document.getElementById("menu-toggle");

  menuToggleEl?.addEventListener("click", () => {
    menuEl?.classList.toggle(s.open);
    menuBgEl?.classList.toggle(s.open);
    menuToggleEl?.classList.toggle(s.open);
  });
</script>
